/* Empty. Add your own CSS if you like */

.mod.assertive {
      background-color: #ef4e3a;
}

.mod.balanced {
      background-color: #66cc33;
}

.mod.positive {
    background-color: #4a87ee;
}

.mod.royal {
      background-color: #8a6de9;
}

.mod.energized {
      background-color: #f0b840;
}

.orders-list .item {
    padding: 6px;
}

.orders-list {
    color: dimgrey;
}

.orders-list span{
    font-size: 0.8em;
}

.order-total {
    float:right;
    margin-right: 5px;
}

.list.order-item-list {
    margin-bottom: 0;
}

.list.order-item-list .item {
    min-height: 56px;
}

.list.order-item-list img {
    width: auto;
    border-radius: 0;
    margin-bottom: 0;
}

.order-item-quantity {
    width: 20%;
    float:right;
}

.order-item-quantity span{
    text-align: right;
    display: block;
    font-size:1em;
}

.order-item-quantity i{
    float: right;
    font-size: 1.5em;
}

.order-item-info {
    width: 75%;
    line-height: 0.7em;
}

.list.order-item-list p{
    font-size: 0.8em;
}

.list.order-item-list .item {
    padding: 5px 5px 5px 43px;
}

.list.order-item-list .item img{
    left: 3px;
    top: 7px;
}

.order-status {
    color: white;
    padding: 5px;
    font-size: 1.1em;
}

.order-status .complete-label {
    float: right;
}

p.delete-order {
    text-align: right;
    margin-top: 20px;
    margin-right: 5px;
}

p.delete-order a{
    color: #ef4e3a;
    text-decoration: none;
}

.progress-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(240, 184, 64, 0.2);
    z-index: -9;
}

.l-help {
    text-align: center;
    padding-top: 100px;
}

.item.highlight {
    background: #E8E8E8;
}