/* Auth */
.right.menu i.img, .right.menu span.img {
    position: relative;
    top: 5px;
}

/* Footer */
ul.footer li {
    display: inline;
    margin-right: 10px;
}

/* Item */
.card .dimmer .plus.icon {
  font-size: 79px;
  color: rgba(37, 37, 37, 0.3);
}

/* Lists */
.tabular.menu i.trash {
    color: rgb(202, 202, 202);
}
.tabular.menu i.trash:hover {
    color: rgb(73, 73, 73);
}

/* User Orders */
.userorders .item {
  cursor: pointer;
}
.userorders .item:hover{
  background-color: rgba(247, 247, 247, 0.15) !important;
}

/* Order */
#qrcode img {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 50px;
}

/* List */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 20px;
}

.check.checked {
  border: 2px solid #39ca74; 
}

.check.checked::before {
  content: "";
  width: 10px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 3px;
  border: solid #39ca74;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

tr.borderless, tr.borderless td {
  border: none !important;
}

.unchecked, .unchecked input, .unchecked a {
  color: rgb(218, 218, 218) !important;
}
.unchecked .button {
  color: rgb(218, 218, 218) !important;
  background: rgb(240, 240, 240) !important;
}
.unchecked img {
  opacity: 0.3;
}

.exchange-toggle {
  font-size:10px;
  color: #c4cbd2;
  cursor: pointer;
  text-align: center;
}
.exchange-toggle.active {
  color: #444444;
}
.unchecked .exchange-toggle {
  color: #c4cbd2 !important;
}
.item-row:hover {
  background-color: rgba(247, 247, 247, 0.15) !important;
  cursor: hand;
}