<div class="ui grid" style="min-height: 600px">
    <div class="two wide column"></div>
    <div class="twelve wide column" style="margin-top: 50px">
        <h3 class="ui header">
            <span>My Orders</span>
        </h3>
        <div userorders></div>
    </div>
    <div class="two wide column"></div>
</div>