<ion-view view-title="Stats">
    <ion-content>
        <h4>Dashboard</h4>
        <p>Orders waiting</p>
        <p>Orders ready</p>
        <p>Orders delivered today</p>
        <p>Avg orders served per hour</p>
        <p>Delaid orders</p>
        <p>Number of support calls today</p>
        <p>Number of complaints today</p>
        <p>Users registered today</p>
        <p>Total registered users</p>
    </ion-content>
</ion-view>