<ion-modal-view>
    <ion-content>
      <img ng-src="{{'http://s3-eu-west-1.amazonaws.com/balticsimages/images/320x480/' + modalImage + '.png'}}" style="width:auto;margin: 50px auto;">
    </ion-content>
</ion-modal-view>